<%= render "welcome/nav" %>
<div class="container mt-5">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% @products.each do |product| %>
      <div class="col">
        <div class="card">
          <%= image_tag product.images.first.image, class: "card-img-top" %>
          <div class="card-body">
            <h5 class="card-title"><%= product.name %></h5>
            <p class="card-text"><%= product.description %></p>
            <p class="card-text"><b>Price:</b><%= product.price %> 
              <%= link_to "Buy", carts_path(product_id: product, qty: 1,  authenticity_token: form_authenticity_token), :method => :post %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
